In [1]:
## Extract Users Evaluation Sample

#  Notebook que extrai amostra de usuários para avaliação

In [2]:
import pandas as pd

/home/marlesson/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
df_review = pd.read_csv("../data/yelp_dataset/yelp_academic_dataset_review.csv")
df_review.head()

,business_id,useful,text,review_id,funny,cool,user_id,date,stars
0,XQfwVwDr-v0ZS3_CbbE5Xw,0,"If you decide to eat here, just be aware it is...",KU_O5udG6zpxOg-VcAEodg,0,0,mh_-eMZ6K5RLWhZyISBhwA,2018-07-07 22:09:11,3.0
1,7ATYjTIgM3jUlt4UM3IypQ,1,I've taken a lot of spin classes over the year...,BiTunyQ73aT9WBnpR9DZGw,0,1,OyoGAe7OKpv6SyGZT5g77Q,2012-01-03 15:28:18,5.0
2,YjUWPpI6HXG530lwP-fb2A,0,Family diner. Had the buffet. Eclectic assortm...,saUsX_uimxRlCVr67Z4Jig,0,0,8g_iMtfSiwikVnbP2etR0A,2014-02-05 20:30:30,3.0
3,kxX2SOes4o-D3ZQBkiMRfA,1,"Wow! Yummy, different, delicious. Our favo...",AqPFMleE6RsU23_auESxiA,0,1,_7bHUi9Uuf5__HHc_Q8guQ,2015-01-04 00:01:03,5.0
4,e4Vwtrqf-wpJfwesgvdgxQ,1,Cute interior and owner (?) gave us tour of up...,Sx8TMOWLNuJBWer-0pcmoA,0,1,bcjbaE6dDog4jkNY91ncLQ,2017-01-14 20:54:15,4.0

In [4]:
df_review.shape

(6990280, 9)

In [5]:
df_review_total = df_review\
                    .groupby("user_id").agg(
                      total_reviews = ("business_id", "count")
                    ).reset_index()
df_review_total.head()

                  user_id  total_reviews
0  ---1lKK3aKOuomHnwAkAow              1
1  ---2PmXbF47D870stH1jqA             28
2  ---UgP94gokyCDuB5zUssA             11
3  ---fa6ZK37T9NjkGKI4oSg              1
4  ---r61b7EpVPkb4UVme5tA              5

In [6]:
df_review_with_5 = df_review[df_review['stars'] >= 5]\
                    .groupby("user_id").agg(
                      business_with_5 = ("business_id", list), 
                      total_with_5 = ("business_id", "count")
                    ).reset_index()
df_review_with_5.head()

,user_id,business_with_5,total_with_5
0,---1lKK3aKOuomHnwAkAow,[f19eLfhXqR47Ct8Hz2y_pA],1
1,---2PmXbF47D870stH1jqA,"[hKameFsaXh9g8WQbv593UA, hKameFsaXh9g8WQbv593U...",28
2,---UgP94gokyCDuB5zUssA,"[1NvzccBgS0Xg3MWqN8Hw6Q, hLlDzRaDGN-0SlEWk0xTp...",3
3,---r61b7EpVPkb4UVme5tA,"[5UN1B7XqZohGuULLNlWL1A, bENW5-F2aplQsTdPI8wDB...",3
4,---zemaUC8WeJeWKqS6p9Q,[eX7o_-s5TmDT-DMfTV4cmw],1

In [10]:
df_users = df_review_total\
            .merge(df_review_with_5, on="user_id", how="inner")

# Filter only users with 5 or more reviews
df_users = df_users[df_users['total_reviews'] >= 10].sample(1000, random_state=42)
df_users.shape

(1000, 4)

In [11]:
df_users

,user_id,total_reviews,business_with_5,total_with_5
257104,Bk_ymoSvVNHD1yjl7g08dw,12,"[CVDx_x4hEx90nSgeTDo8rA, nrDxYHzp-c0OK_ZIbDWjC...",7
24301,0CKo5RHHoN6AI7vSMnKV_g,12,"[2yHl6wl1iFa_Jo_SZcmSuw, znlrxrY4InSx7ekPZxoHR...",3
581586,RsapwXMzZlvVZK_RmyaC5Q,10,"[8pLHRpAe6YPL0FVOKkyVKw, HlaqPcOkOb7AjLpYU5fsoA]",2
847613,e9JDpbpiQdZJhj_MvM2VBA,13,"[EmHXLffnzvntWzO6Ba3Atw, xfsXGjtRcXyydgmUmfgKW...",8
65101,2Ds8R2prlyRsUAPRnXZnyA,46,"[4SneIG3-02kRCgQx-hu51Q, 6z0vp2VdMqutVhKuPu-jv...",10
...,...,...,...,...
650804,VKcl3pHSyO8tyEStQBkEoA,12,"[8uF-bhJFgT4Tn6DTb27viA, V9VLhHdSFpFi4yXFqVcVE...",6
261931,BzwX4ig59prPo09HQ3a2_w,12,"[Nu-DLt0yxVO89R0FsSJm2g, Ye5nmTmZ7cL7BQshqZeIW...",5
7286,-Md9jUPXg1m-FqvX6Ov6HA,13,"[Sw7qcWQ5_iOUjBZMhSxyOQ, yAJd-jQH_RoV4xyVrfHPS...",7
968105,k74mdgq647d8-Kn5X--j0g,10,"[gABEjWGwhojrub_tXqE2uw, Rx5lfHMWkezmQjCfr2ziA...",10
138500,5sG39Mrvkf7HiZD7NikNJQ,25,"[IrNfXiDWlvow2dBMCfz4vQ, 9Q5GrEg9iy_RXuRkxIENV...",9

In [35]:
df_eval_review = df_review\
                .merge(df_users, on="user_id", how="inner")[df_review['stars'] < 5]\
                .groupby("user_id").agg(
                  business_less_5 = ("business_id", list), 
                  total_less_5 = ("business_id", "count")
                )\
                .merge(df_users, on="user_id", how="inner")\
                .reset_index()

df_eval_review.head()

/home/marlesson/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,index,user_id,business_less_5,total_less_5,total_reviews,business_with_5,total_with_5
0,0,-29CDvGG_CxTj7ZEvQ-oDA,"[SmeMEWPwb5vl4m0UbYnugA, TRaNwiGekGWa5xFIZTF9W...",4,10,"[hVby5X1U-rXbFOsUPv8N2A, jMZ56S8Y1t7cA1Ob-d-qe...",7
1,1,-3JgAE4HUZKnscl-Xe7_MQ,"[5zOYg50gWuLkg7vfxjDsEw, IZMszJcSBYaVALYDqdUN6...",3,11,"[LZp0WEzjTZLMA-WElx9caQ, GSiZfdrbw72LF1D2xTaTz...",10
2,2,-43uAiZZ6wsGhaurBi3Cdw,"[Z5po0aTuzKKblek5y6Sp8Q, 7lwe7n-Yc-V9E_HfLAeyl...",3,11,"[7lwe7n-Yc-V9E_HfLAeylg, t6v8g8UeNiq3O2GoEc7R4...",3
3,3,-4D4Q_Fxj_rEL32t0VtzFQ,"[NhXS2YbDi3N1IrIl0bcnpg, gsy3nze2K5cSH9H6rOkTg...",21,30,"[NhXS2YbDi3N1IrIl0bcnpg, ySIkWUgh8ZZSfZUL4RGi1...",9
4,4,-6VU46iNtnR8-rat3ONY1g,"[hr75pzFjl6twEgyBRBQwkw, 0zVFHW7znwNhm7LRJD0Uj...",6,14,"[r5LcXzYJaNRJHCS1TGs57A, hr75pzFjl6twEgyBRBQwk...",12

In [36]:
import numpy as np

business_ids = list(df_review.merge(df_users, on="user_id", how="inner").business_id.unique())

df_eval_review["business_random"] = df_eval_review.apply(lambda x: list(np.random.choice(business_ids, 10, replace=False)), axis=1)
df_eval_review.head()

,index,user_id,business_less_5,total_less_5,total_reviews,business_with_5,total_with_5,business_random
0,0,-29CDvGG_CxTj7ZEvQ-oDA,"[SmeMEWPwb5vl4m0UbYnugA, TRaNwiGekGWa5xFIZTF9W...",4,10,"[hVby5X1U-rXbFOsUPv8N2A, jMZ56S8Y1t7cA1Ob-d-qe...",7,"[LNQSFEjYjJNODULj_mSWvw, QPJbWwsqBk8ZMAPdfxNZr..."
1,1,-3JgAE4HUZKnscl-Xe7_MQ,"[5zOYg50gWuLkg7vfxjDsEw, IZMszJcSBYaVALYDqdUN6...",3,11,"[LZp0WEzjTZLMA-WElx9caQ, GSiZfdrbw72LF1D2xTaTz...",10,"[vG9aD-fvsIimgo-l7u8-AA, KyEQ6yfl3EmesWJqmoSqV..."
2,2,-43uAiZZ6wsGhaurBi3Cdw,"[Z5po0aTuzKKblek5y6Sp8Q, 7lwe7n-Yc-V9E_HfLAeyl...",3,11,"[7lwe7n-Yc-V9E_HfLAeylg, t6v8g8UeNiq3O2GoEc7R4...",3,"[Fbq_tc6W5uNmQNrInXpd5w, EvRegjXKgu0WGTk1Y1mif..."
3,3,-4D4Q_Fxj_rEL32t0VtzFQ,"[NhXS2YbDi3N1IrIl0bcnpg, gsy3nze2K5cSH9H6rOkTg...",21,30,"[NhXS2YbDi3N1IrIl0bcnpg, ySIkWUgh8ZZSfZUL4RGi1...",9,"[tL-eas27iNqrRra_BYeVwA, O3JyUZS0wzsApHJ1h10Nd..."
4,4,-6VU46iNtnR8-rat3ONY1g,"[hr75pzFjl6twEgyBRBQwkw, 0zVFHW7znwNhm7LRJD0Uj...",6,14,"[r5LcXzYJaNRJHCS1TGs57A, hr75pzFjl6twEgyBRBQwk...",12,"[e4HGFwO2NV_yTLE5lDdlgg, yVqIuwyp7WObcTah89gqz..."

In [45]:
# join two columns lists in dataframe
import random

df_eval_review["reclist"] = df_eval_review.apply(lambda x: x.business_random + x.business_less_5, axis=1)
df_eval_review["reclist"] = df_eval_review.apply(lambda x: random.sample(x.reclist, len(x.reclist)), axis=1)
df_eval_review["total_reclist"] = df_eval_review["reclist"].apply(len)
df_eval_review.head()

,index,user_id,business_less_5,total_less_5,total_reviews,business_with_5,total_with_5,business_random,reclist,total_reclist
0,0,-29CDvGG_CxTj7ZEvQ-oDA,"[SmeMEWPwb5vl4m0UbYnugA, TRaNwiGekGWa5xFIZTF9W...",4,10,"[hVby5X1U-rXbFOsUPv8N2A, jMZ56S8Y1t7cA1Ob-d-qe...",7,"[LNQSFEjYjJNODULj_mSWvw, QPJbWwsqBk8ZMAPdfxNZr...","[fN12ywQpLXQ93bpwe1N_Ww, XgWpo2hxLT1tn5sFDPr-d...",14
1,1,-3JgAE4HUZKnscl-Xe7_MQ,"[5zOYg50gWuLkg7vfxjDsEw, IZMszJcSBYaVALYDqdUN6...",3,11,"[LZp0WEzjTZLMA-WElx9caQ, GSiZfdrbw72LF1D2xTaTz...",10,"[vG9aD-fvsIimgo-l7u8-AA, KyEQ6yfl3EmesWJqmoSqV...","[KyEQ6yfl3EmesWJqmoSqVA, IZMszJcSBYaVALYDqdUN6...",13
2,2,-43uAiZZ6wsGhaurBi3Cdw,"[Z5po0aTuzKKblek5y6Sp8Q, 7lwe7n-Yc-V9E_HfLAeyl...",3,11,"[7lwe7n-Yc-V9E_HfLAeylg, t6v8g8UeNiq3O2GoEc7R4...",3,"[Fbq_tc6W5uNmQNrInXpd5w, EvRegjXKgu0WGTk1Y1mif...","[Z5po0aTuzKKblek5y6Sp8Q, rTALf5ZKCsc8CDDxt_cn_...",13
3,3,-4D4Q_Fxj_rEL32t0VtzFQ,"[NhXS2YbDi3N1IrIl0bcnpg, gsy3nze2K5cSH9H6rOkTg...",21,30,"[NhXS2YbDi3N1IrIl0bcnpg, ySIkWUgh8ZZSfZUL4RGi1...",9,"[tL-eas27iNqrRra_BYeVwA, O3JyUZS0wzsApHJ1h10Nd...","[DfqVLgApGJ9TcbMT8_u0yQ, Q_XR65cLnHn7sz7aez5L-...",31
4,4,-6VU46iNtnR8-rat3ONY1g,"[hr75pzFjl6twEgyBRBQwkw, 0zVFHW7znwNhm7LRJD0Uj...",6,14,"[r5LcXzYJaNRJHCS1TGs57A, hr75pzFjl6twEgyBRBQwk...",12,"[e4HGFwO2NV_yTLE5lDdlgg, yVqIuwyp7WObcTah89gqz...","[qqtgxV6EoaYtjdh5l1cbRQ, e4HGFwO2NV_yTLE5lDdlg...",16

In [48]:
df_eval_review[["user_id", "business_with_5", "total_with_5", "business_less_5", "total_less_5", "reclist"]]\
  .to_csv("../data/evaluation/eval_users.csv", index=False)